/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 0.5em;
  color: #5a5a5a;
}

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel .item img{
  left: -9999px;  /*important */
   right: -9999px;  /*important */
   margin: 0 auto;  /*important */
   margin-top:4em;
   max-width: 200px;  /*important */
   position: absolute;
}




/* Projects CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.projects .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.projects h2 {
  font-weight: normal;
}
.projects .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.projects .col-lg-4 p,ul,li,i {
  text-align: justify;
}


/*BLOG */

.blog-header {
  padding-top: 5em;
  padding-bottom: 20px;
}

.footer-list{
  padding-left: 2em;
}

.footer{
  margin-left: 2em;
  margin-right: 2em;
}



/*  ABOUT  */

.pythoncv{
  margin:0;
  padding: 1em;
  background-color: #0e151b;
  height:100%;
  font-size: 110%
}
.pythoncv .nostyle{
  list-style-type: none;
  padding-bottom: 1em;
}

.pythoncv .comments:before{
  content:"' ' ' \a"
}

.pythoncv .comments{
  color:#ffe792;
  font-size: 150%;
  display: block;
}

.pythoncv .comments:after{
  content:"\a ' ' '"
}

.pythoncv .self:before{
  content:"self";
  color:#d73c4d;
}

.pythoncv .function{
  color:#3cadd7;
}
.pythoncv .par:before{
  content:"(";
}

.pythoncv .par{
  color:white;
}
.pythoncv .par:after{
  content:"):";
}

.pythoncv .key{
  color:#d7503c;
}

.pythoncv .normal{
  color:white;
  display: inline;
}

.pythoncv .att{
  color:#ffe792;
}
