<ul>
{% for page in pages %}
    {% if page.meta.published==true %}
    <li><a href="{{ url_for("page", path=page.path) }}">{{ page.title }}</a>
    {% if page.meta.tags|length %}
        | Tagged:
      {% for tag in page.tags-%}<a href="{{ url_for("tag", tag=tag) }}">&nbsp;{{ tag }}</a>{% if not loop.last %}, {% endif %}
      {%- endfor %}
        
    {% endif %}
    </li>
    {% endif %}
{% else %}
    {% if cat==OnProjects%}
    <i class="glyphicon glyphicon-minus"></i> I am currently not involved in any project
    {%else%}
    <p>There is no post with this tag.</p>  
    {%endif%}  
{% endfor %}
</ul>
