{% extends "base.html" %}
{% block title %}About Bio & CV{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="container blog-header">
<p><a href="/static/pdf/IOANNOU_CV.pdf">Download my CV (in French). </a> English coming soon.</p>
<div class="pythoncv">
	<h1>Hello my name is Orestis Ioannou and this is my Curriculum Vitæ</h1>
		<span class="function">Define me</span>
		<ul class="nostyle">
			<li><span class="normal">Name</span><span class="key"> : </span><span class="att">Orestis Ioannou</span></li>
			<li><span class="normal">Status (Work)</span><span class="key"> : </span><span class="att">Google Summer of Code | Debsources Debian</span></li>
			<li><span class="normal">Status (Education)</span><span class="key"> : </span><span class="att">Master 2 Informatics | ISFA Lyon 1</span></li>
		</ul>
		<span class="function">Define contact</span>
		<ul class="nostyle">
			<li><span class="normal">Email</span><span class="key"> : </span><span class="att">contact@oioannou.com</span></li>
			<li><span class="normal">Address</span><span class="key"> : </span><span class="att">13 rue Moliere, 69006, Lyon, France</span></li>
			<li><span class="normal">Phone</span><span class="key"> : </span><span class="att">07 62 54 48 49</span></li>
			<li><span class="normal">Website</span><span class="key"> : </span><span class="att">www.oioannou.com</span></li>
			<li><span class="normal">Github</span><span class="key"> : </span><span class="att">https://github.com/oorestisime</span></li>
		</ul>

		<h1>Education & Skills & Languages</h1>
		<span class="function">Define education</span>
		<ul class="nostyle">
			<li><span class="normal">Bsc</span><span class="key"> : </span><span class="att">Informatics @ University Lyon 1 <a href="http://www.univ-lyon1.fr/">url</a></span></li>
			<li><span class="normal">Msc 1</span><span class="key"> : </span><span class="att">M1 Informatics @ University Lyon 1 <a href="http://master-info.univ-lyon1.fr/M1">url</a></span></li>
			<li><span class="normal">Msc 2</span><span class="key"> : </span><span class="att">M2 Informatics ongoing @ ISFA Lyon 1 <a href="http://isfa.univ-lyon1.fr/">url</a></span></li>
		</ul>
		<span class="function">Define skills</span>
		<ul class="nostyle">
			<li><span class="normal">Programming</span><span class="key"> : </span><span class="att">Python C/C++ Java PHP</span></li>
			<li><span class="normal">Query</span><span class="key"> : </span><span class="att">SQL SPARQL XQuery</span></li>
			<li><span class="normal">Web</span><span class="key"> : </span><span class="att">HTML5 CSS3 JavaScript</span></li>
			<li><span class="normal">Frameworks</span><span class="key"> : </span><span class="att">Apache-Spark Hadoop</span></li>
			<li><span class="normal">Web Frameworks</span><span class="key"> : </span><span class="att">Flask Django Zotonic</span></li>
			<li><span class="normal">Css Frameworks</span><span class="key"> : </span><span class="att">Bootstrap Foundation</span></li>
		</ul>
		<span class="function">Define languages</span>
		<ul class="nostyle">
			<li><span class="normal">Native</span><span class="key"> : </span><span class="att">Greek</span></li>
			<li><span class="normal">Proffiency</span><span class="key"> : </span><span class="att">English French</span></li>
		</ul>
		<h1>Experience</h1>
		<span class="function">Define experience</span>
		<ul class="nostyle">
			<li><span class="normal">Google Summer of Code</span> 3 months <span class="key"> Work on Debsources to create a copyright and a patch tracker</span><span class="att"> www.sources.debian.net </span></li>
			<br />
			<li><span class="normal">Freelance</span> 1 month <span class="key"> Create a website for a PhD student </span><span class="att"> www.toumiak.com</span></li>
			<br />
			<li><span class="normal">Freelance</span> 1 month <span class="key"> Create a website for a Mathematician </span><span class="att"> www.atoumazi.com</span></li>
			<br />
			<li><span class="normal">Freelance</span> 2 months <span class="key"> Create a website for a Ship Supplying company </span><span class="att"> www.ancora-services.com</span></li>
			<br />
			<li><span class="normal">Freelance</span> 2 weeks <span class="key"> Refactoring a website for an artist </span><span class="att"> www.kanelloscob.com</span></li>
			<br />
			<li><span class="normal">Bsc Internship</span> 3 months <span class="key"> Design and create a website for Anosis </span><span class="att"> www.anosis.com.cy</span></li>
			<br />
		</ul>
		<h1>Misc</h1>
		<span class="function">Define misc</span>
        <ul class="nostyle">  
        	<li><span class="normal">Debian<span class="key">:</span> <span class="att"> Maintaining packages and helping in wbe services |</span> <a href="https://contributors.debian.org/contributor/oorestisime-guest%40alioth">url</a></span></li>  
			<li><span class="normal">Hobbies</span><span class="key"> : </span><span class="att">Judo for more than 10 years | Travelling</span></li>
			<li><span class="normal">Volunteer</span><span class="key"> : </span><span class="att"><a href="http://jdll.org/">JDLL 2015</a> | <a href="https://womenhelp.org/">WomenHelp</a></span></li>
			<li><span class="normal">Interests</span><span class="key"> : </span><span class="att">Cryptography | Software Security | Open source</span></li>
			<li><span class="normal">Coursera</span><span class="key"> : </span><span class="att">Stanford University | Cryptography I</span></li>
		</ul>
	</ul>

</div>
</div>
{%endblock content%}
