{% extends "base.html" %}
{% block title %}Blog{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container blog-header">
	<h2>Personal blog</h2>
	<p>Hi, I’m Orestis Ioannou and this is my personal blog. I am currently on my second year for my Masters degree. I live in Lyon and i pretty much enjoy my life.</p>
	<p>I hope that through this blog you will find usefull informations. I like open source software cryptography and software security and these are the main topics of this blog.</p>
	<p>This blog was created using the micro-framework flask and its entirely open source.</p>
	<hr/>
	{% for page in pages%}
	{%if page.meta.published== True%}
	<div class="row">
		<div class="col-lg-2">
			<img src="{{page.photo}}" alt="" width=150 />
		</div>
		<div class="col-lg-10">
			<h4>{{page.title}}</h4>
			<p>{{ page.html|striptags|trim|truncate(250) }} <a href={{ url_for("page", path=page.path) }}>Read more </a></p>
		</div>
	</div>
	{%endif%}
	{% endfor %}
</div>

{%endblock content%}