{% extends "base.html" %}
{% block title %}Completed projects{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container blog-header">
	<h2>Completed projects</h2>
	<hr/>
	{% for page in pages%}
	{%if page.meta.published== True%}
		<div class="row">
		<div class="col-lg-2">
			<img src="{{page.photo}}" alt="" width=150 />
		</div>
		<div class="col-lg-10">
			<h4>{{page.title}}</h4>
			<p>{{ page.html|striptags|trim|truncate(250) }} <a href={{ url_for("page", path=page.path) }}>Read more </a></p>
		<hr/>
		</div>
		</div>
	{%endif%}
	{% endfor %}
</div>

{%endblock content%}