{% extends "base.html" %}
{% block title %}Contact me{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}

<div class="container blog-header">
	<h1>Contact</h1>
	<div class="row">
		<div class="col-lg-1"></div>
		<div class="col-lg-11">
			<p>I consider that the fastest way for you to contact me is using my email. I ll try to get back to you as soon as possible</p>
			<img src="../static/img/maps.png" width=80% style="margin-bottom:1em">

			<ul class="list-unstyled">
			<li><i class="glyphicon glyphicon-home"></i> I am currently living in Lyon, France</li>
			<li><i class="glyphicon glyphicon-earphone"></i> 07 62 54 48 49</li>
			<li><i class="glyphicon glyphicon-envelope"></i> orestis [-{at}-]oionnou.com </li>
			<li>Key Id: 0x10D7F7EC</li>
			<li>OpenPGP fingerprint BE16 4328 ADB8 28DA A8DC 0628 F380 1F5B 10D7 F7EC</li>
			<li><i class="glyphicon glyphicon-user"></i>oorestisime@jappix.com</li>
			</ul>
			<p>You can also check my github <a href="https://github.com/oorestisime">repository</a></p>
		</div>
	</div>
</div>

{%endblock content%}